@page "/"

<h1>IncidentManager Home</h1>

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <meta name="viewport" content="width=device-width,
initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="css/MyLayout.css">
</head>
<body>
    <main>
        <header><p class="title">Mobile Timez</p></header>

        <div class="page_content">
            <div class="page_content_container_left">
                <div class="content">
                    <h1>Mobile Technology</h1>
                    <p>Information on mobile technology.</p>
                    <p>...</p>
                    <h3>Sub Heading</h3>
                    <p>...</p>
                </div> <!-- closing of the content -->
            </div>
            <!-- Closing of the page content container
            left -->

            <div class="page_content_container_right">
                <aside class="content_sidebar">
                    <h3>Did you know...</h3>
                    <p>...</p>
                </aside>
            </div>
            <!--Closing of the
            page_content_container_right-->
            <div class="clear_both"> </div>
            <nav>
                <a href="#">Technology</a>
                <a href="#">Business</a>
                <a href="#">News</a>
                <a href="#">Contact</a>
            </nav>
        </div> <!--Closing of the page content-->
        <footer>
            &copy; 2015 &bull; Mobile Timez LLC
        </footer>
    </main>
</body>
</html>

